.container {
	margin: 0px;	
	font-family: "Roboto", sans-serif;
}

.top-of-page {
	background-color: rgba(183, 116, 64, 0.49);
	background-image: url("salchi_cartoon.png");
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid black;

}

a {
	text-decoration: none;
}


.title-box {
	display: flex;
	justify-content: space-around;
	flex-basis: 40%;
	align-items: center;
}


.title {
	font-size: 30px;
	flex-basis: 20%;
	background-color: rgba(214,217,255, 1);
	border: 2px solid black;
	margin: 5px 0;
	padding: 0px 0;
	text-align: center;

}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;


}




.header-element {
	font-size: 20px;
	flex-basis: 15%;
	background-color: rgba(214,217,255, 0.8);
	text-align: center;
	border: 2px solid black;
	box-sizing: border-box;
}

.header-element:hover {
	background-color: rgb(230,230,230);
}

#current-page-button {
	background-color: white;
}




.bottom-of-page {
	background-color: rgba(183, 116, 64, 0.49);
	position: relative;
	width: 100%;
	top: 0;
	border-top: 2px solid black;
}
.link-images {
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
}


.icons {
	margin-top: 9px;
	flex-basis: 5%;
	text-align: center;

}

img.logo {
	max-width: 27px;

}



.social-link-box {
	display: flex;
	justify-content: space-around;
	background-color: 
}

.social-link-button {
	box-sizing: border-box;
	border: 2px solid black;
	flex-basis: 10%;
	text-align: center;
	background-color: rgb(156,131,82);
	color: white;
	margin-bottom: 12.5px;
}

.social-link-button:hover, .social-link-button:active {
	background-color: rgb(107,90,56);
}






/* main content page 1 */
.main-content {
	display: flex;
	height: 100%;
}

.welcome-info {
	background-color: rgb(220,220,220);
	padding: 15px;
	flex-basis: 80%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 1.4em;
}

#main-photo {
	width: 22.5%;
	float: right;
	border: 10px ridge brown;
	margin: 3px;
}

.sidebar {
	flex-basis: 20%;
	border: 2px solid black;
	font-size: 1.325em;
	background-image: url("pawprints.jpg");
}

#facts-heading {
	text-align: center;
	margin-top: 43.2px;
	text-decoration: underline;
}

.facts-list {
	max-width: 80%;
}
.facts {
	margin: 10px 0;
}




/* history */ 

.history-main {
	display: flex;
}

.history-sidebar {
	text-align: center;
	flex-basis: 20%;
	background-image: url("pawprints.jpg");
}



.history-sidebar-image {
	width: 50%;
	margin: 0;
	border: 2px solid black;
}

.history-sidebar-element {
	margin: 0px;
}
#history-sidebar-main-heading {
	font-size: 20px;
	text-align: center;
	width: 90%;
	background-color: rgb(220,220,220);
	margin: 4px auto;
	border: 2px solid black;
}

.history-sidebar-heading {
	text-decoration: underline;
	font-size: 17.5px;
	margin: 3px 0;
}



.history-info {
	font-size: 22px;
	border-left: 2px solid black;
	flex-basis: 80%;
	background-color: rgb(220,220,220);
	padding: 24px;
}


#about-me {
	font-size: 27px;
	margin: 4px 0;
}

.history-image-right {
	width: 20%;
	float: right;
	border: 2px solid black;
	box-sizing: border-box;
}

.history-image-right2 {
	width: 20%;
	float: right;
	margin-right: 10%;
	border: 2px solid black;
	box-sizing: border-box;
}

.history-image-left {
	width: 20%;
	float: left;
	margin-right: 20px;
	border: 2px solid black;
	box-sizing: border-box;
}





/* GALLERY */


.gallery-main {
	margin: 0 auto;
	background-image: url("pawprints.jpg")
}

.top-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}



.bottom-row {
	flex-wrap: wrap-reverse;
	display: flex;
	justify-content: space-around;
	align-items: center;
	

}

@media (max-width: 1200px) {
	.bottom-row {
		flex-wrap: wrap-reverse;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-top: 2px black solid;
	}
}







.gallery-row-info-left {
	padding: 40px 30px 40px 0;
	border-right: 2px solid black;
	font-size: 45px;
}

.gallery-row-info-right {
	font-size: 45px;
	padding: 40px 0px 40px 30px;
	border-left: 2px solid black;
	margin-right: 30px;
}

.gallery-img {
	height: 197.5px;
	border: 2px solid black;
	border-sizing: border-box;
	margin: 18px 0px;
	min-width: 120px;
}
